body {
  color: white;
  background-color: #050505;
  font-family: sans-serif;

  --layer-1: #111;
  --layer-2: #111;
  --layer-2p5: #222;
  --layer-3: #444;

  margin: 0px auto;
  max-width: 1250px;
  padding: 8px;
  height: 100vh;
  box-sizing: border-box;
}

button, input, select {
  background-color: var(--layer-3);
  border-color: var(--layer-3);
  color: inherit;
}

.cmp-skin-tool {
  display: grid;
  grid-template:
    "topbefore top    topafter" auto
    "before    gap    after   " minmax(0, 1fr)
    "before    gap    afterct "
    "bottom    bottom bottom  " auto
    / minmax(0, 1fr) auto minmax(0, 1fr);
  height: 100%;
}

.gap { grid-area: gap; }
.controls.after.bottom { grid-area: afterct; }
.controls.before { grid-area: topbefore; }
.controls.after  { grid-area: topafter; }
.controls.bottom { grid-area: bottom; }
.batch-preview.before { grid-area: before; }
.cmp-skin-preview.before { grid-area: before; }
.cmp-skin-preview.after  { grid-area: after; }

.gap {
  width: 20px;
}

.controls {
  margin: 4px;
}
.controls {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.controls > * {
  margin-right: 1ex;
}

.controls.after.bottom {
  display: block;
}

.output-controls {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -4px;
}
@media (min-width: 1208px) {
  .output-controls:not(.single) {
    justify-content: space-between;
  }
}

.output-controls .control-group {
  background-color: var(--layer-2p5);
  margin-right: 4px;
  margin-top: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[name="resolution"] {
  max-width: 35px;
}

.batch-header, .batch-item {
  margin: 4px;
  padding: 4px;
  background-color: var(--layer-3);
  user-select: none;
}
.batch-item {
  background-color: var(--layer-2p5);
}
.batch-item button, .batch-header button {
  float: right;
}

.cmp-skin-preview, .batch-preview {
  display: flex;
  flex-direction: column;
  background-color: var(--layer-2);
  overflow-y: auto;
}

.cmp-skin-preview canvas:first-child {
  padding-bottom: 2px;
  border-bottom: 2px dashed var(--layer-3);
  margin-bottom: 2px;
}
.cmp-skin-preview canvas {
  image-rendering: crisp-edges;
}

button[disabled] {
  cursor: not-allowed;
  color: gray;
}
